<h1>Add new book</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required min="10" max="100">
        <label for="title">Title</label>
        <span class="helper-text" data-error="Input name" data-success="right"></span>
    </div>

    <div class="input-field col s6">
        <input id="price" name="price" type="number" class="validate" required min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Input price" data-success="right"></span>
    </div>

    <div class="input-field col s6">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">Image url</label>
        <span class="helper-text" data-error="Input img  url" data-success="right"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Add book</button>

    
</form>