.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.book {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book h1 {
    margin-bottom: 2rem;
}

.book img {
    max-width: 600px;
    height: auto;
}

.book .price.big {
    font-size: 3rem;
}

.card-action.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search {
    margin: 1rem;
}


#but {
    padding: 1rem;
}

.book-form{
    margin-bottom: 2rem;
}

.card-image {
height: 400px;
position: relative;
overflow: hidden;
}

.card-image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.auth {
    padding-top: 1rem;
}

.view-buttons {
    margin-top: 1rem;
}